.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
  }
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(245, 15, 207, 0.98) 20%, rgb(51, 17, 239) 49%);
 border-style: dashed;
}
nav{
    align-items: center;
    text-decoration: dotted;
    display: inline-block;
    size-adjust: 30px;
}h1{
    font-size: 40px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-display: gold;
    text-align: right;
    padding-inline-end: 5px;
    word-spacing: 10px;

}
.button{
    align-self: center;
    font-style: italic;
    font-size: 49px;
    padding-left: 50px;
    display: flex;
}